﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HMS System</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <!-- jQuery UI Datepicker -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        .error{
            color:red;
        }

        .text-red{
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <h2>HMS System .Net Core 6.0 EF Core <a href="/Swagger" target="_blank">Click here For Swagger Api Link</a></h2>
            </div>
            <div class="col-md-12 mb-3 text-right">
                <button type="button" class="btn btn-icon  btn-primary" onclick="AddEditPatient(0)"><i class="fa fa-plus"></i> Add </button>
            </div>
            <div class="col-md-12">
                <table id="patientsTable" class="table table-bordered text-nowrap border-bottom" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addeditpatientModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addeditpatientTitle">Modal title</h5>
                </div>
                <div class="modal-body">
                    <form id="patientform">
                        <div class="row">
                            <input type="hidden" id="pkId" name="pkId" value="0" />
                            <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                            <label class="form-label">Patient Name <span class="text-red">*</span></label>
                            <input type="text" class="form-control" placeholder="Patient Name" id="Name" name="Name" required>
                            </div>
                            </div>
                            <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                            <label class="form-label">Age <span class="text-red">*</span></label>
                                    <input type="number" min="0" max="100" class="form-control" placeholder="Age" id="Age" name="Age" required>
                            </div>
                            </div>
                            <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                            <label class="form-label">Gender <span class="text-red">*</span></label>
                             <select class="form-control" id="Gender" name="Gender" required>
                             <option value="Male">Male</option>
                             <option value="Female">Female</option>
                            </select>
                            </div>
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Phone <span class="text-red">*</span></label>
                                    <input type="text" maxlength="11" pattern="[0-9]*" class="form-control" placeholder="Phone" id="Phone" name="Phone" required>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Address <span class="text-red">*</span></label>
                                    <input type="text" class="form-control" placeholder="Address" id="Address" name="Address" required>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Visit Date <span class="text-red">*</span></label>
                                    <input type="datetime" class="form-control" placeholder="Visit_Date" id="Visit_Date" name="Visit_Date">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Diseases Detail <span class="text-red">*</span></label>
                                    <input type="text" class="form-control" placeholder="Diseases Detail" id="Diseases_Detail" name="Diseases_Detail">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Doctor <span class="text-red">*</span></label>
                                    <select class="form-control" id="Fk_DoctorId" name="Fk_DoctorId"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="CloseModel()">Close</button>
                    <button type="button" class="btn btn-primary" id="addeditpatientButton">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
     <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"> </script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        var PatientTable;
        $(document).ready(function () {
            $("#Visit_Date").datepicker();
            PatientTable = $("#patientsTable").DataTable({
                "ajax": {
                    "url": "https://localhost:44301/api/get-patients",
                    "method": 'GET',
                    "contentType": 'application/json',
                    "dataType": 'json',
                    "dataSrc": "data"
                },
                "columns": [
                    { "data": "name" },
                    { "data": "age" },
                    { "data": "gender" },
                    {
                    "data": "pkId",
                    "render": function (pkId, type, full, meta) {
                        return '<button type="button" class="btn btn-icon  btn-primary" onclick="ViewDetails(' + pkId + ')"><i class="fa fa-eye"></i></button> <button type="button" class="btn btn-icon  btn-primary" onclick="AddEditPatient(' + pkId + ')"><i class="fa fa-edit"></i></button> <button type="button" class="btn btn-icon  btn-danger" onclick="DeletePatient(' + pkId + ')"><i class="fa fa-trash-o"></i></button>';
                        }
                    }
                ],
                "ordering": false,
                "pageLength": 10,
                "language": { "emptyTable": "no data found click to add new button." }
            });
            LoadDoctors();
        });
        var AddEditPatient = function (Id) {
            if (Id > 0) {
                $.ajax({
                    type: "GET",
                    url: "https://localhost:44301/api/get-patientsbyid/" + Id,
                    success: function (data) {
                        if (data.success) {
                            $("#pkId").val(data.data.pkId);
                            $("#Name").val(data.data.name);
                            $("#Age").val(data.data.age);
                            $("#Gender").val(data.data.gender).trigger('change');
                            $("#Phone").val(data.data.phone);
                            $("#Address").val(data.data.address);
                            $("#Visit_Date").val(data.data.visitDate);
                            $("#Diseases_Detail").val(data.data.diseasesDetail);
                            $("#Fk_DoctorId").val(data.data.fkDoctorId).trigger('change');
                            
                            $("#addeditpatientTitle").text('Edit Patient');
                            $("#addeditpatientButton").text('Update');
                            $("#addeditpatientModel").modal("show");
                        }
                        else {
                        }
                    }
                });
            }
            else {
                $("#addeditpatientTitle").text('Add Patient');
                $("#addeditpatientButton").text('Save');
                $("#addeditpatientModel").modal("show");
            }
        };
        $("#addeditpatientButton").click(function () {
            var pkId = $("#pkId").val();
            var form = $("#patientform")
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var modelData = {
                    pkId: parseInt($("#pkId").val()), // Example value, replace with actual value
                    name: $("#Name").val(), // Example value, replace with actual value
                    age: parseInt($("#Age").val()), // Example value, replace with actual value
                    gender: $("#Gender").val(), // Example value, replace with actual value
                    phone: $("#Phone").val(), // Example value, replace with actual value
                    address: $("#Address").val(), // Example value, replace with actual value
                    status: true

                };
                var jsonData = JSON.stringify(modelData);
                if (pkId > 0)
                {
                    $.ajax({
                        type: 'POST',
                        url: "https://localhost:44301/api/update-patient",
                        contentType: 'application/json',
                        data: jsonData,
                        success: function (data) {
                            if (data.success) {
                                PatientTable.ajax.reload();
                                alert(data.message);
                                CloseModel();
                            }
                            else {
                                alert(data.message);
                            }
                        }

                    });
                }
                else{
                    $.ajax({
                        type: "POST",
                        url: "https://localhost:44301/api/save-patient",
                        contentType: 'application/json',
                        data: jsonData,
                        success: function (data) {
                            if (data.success) {
                                PatientTable.ajax.reload();
                                alert(data.message);
                                CloseModel();
                            }
                            else {
                                alert(data.message);
                            }
                        }

                    });
                }
            }
            return false;
        });
        function LoadDoctors()
        {
            $.ajax({
                type: "GET",
                url: "https://localhost:44301/api/get-doctors",
                success: function (data) {
                    if (data.success) {
                        $('#Fk_DoctorId').empty();
                        $("#Fk_DoctorId").append("<option value>----select----</option>");
                        $.each(data.data, function (k, v) {
                            $("#Fk_DoctorId").append("<option value='" + v.pkId + "'>" + v.doctorName + "</option>")
                        });
                    }
                    else {
                        $("#Fk_DoctorId").append("<option value>----select----</option>");
                    }
                }
            });
        }
        function CloseModel()
        {
           $("#pkId").val(0);
           $("#Name").val("");
           $("#Age").val("");
           $("#Phone").val("");
           $("#Address").val("");
           $("#Visit_Date").val("");
           $("#Diseases_Detail").val("");
           $("#addeditpatientModel").modal("hide");
        }
        function DeletePatient(Id) {
            $.ajax({
                type: "POST",
                url: "https://localhost:44301/api/delete-patient/" + Id,
                    success: function (data) {
                        if (data.success) 
                        {
                            PatientTable.ajax.reload();
                            alert(data.message);
                        }
                        else {
                            alert(data.message);
                        }
                    }
                });
        }
        function ViewDetails(pkId) 
        {
            alert(pkId);
        }
    </script>
</body>
</html>